/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

/* Container principal */
.container {
    text-align: center;
    margin: 20px;
}

/* Imagem Romântica */
.tela-inicial img {
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Botões */
button, #linkFormulario {
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Botão de Fechar Formulário */
#fecharFormulario {
    background-color: #6c757d;
}

/* Animações dos botões */
button:hover, #linkFormulario:hover {
    background-color: #ff4c3b;
    transform: scale(1.1);
}

/* Cursor em formato de coração */
#linkFormulario {
    cursor: url('coração.png'), auto;
}

/* Estilizando a tabela */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ff6f61;
    color: white;
}

/* Relatório */
#relatorio {
    margin-top: 20px;
}

/* Comprovante */
#comprovanteContainer {
    margin-top: 20px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#comprovanteContainer button {
    margin-top: 10px;
}

/* Estilo dos grupos de formulário */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    width: 200px; /* Largura fixa para os rótulos */
    margin-right: 10px; /* Espaçamento entre o rótulo e o campo de entrada */
    text-align: right; /* Alinha o texto à direita para melhor alinhamento */
}

.form-group input {
    flex: 1; /* Faz com que o campo de entrada ocupe o espaço restante */
}
#comprovanteContainer img {
    width: 100px;
    margin-bottom: 20px;
}
/* Estilo do Modal de Despesas */
#modalDespesas {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para a Tabela de Despesas */
#tabelaDespesas th, #tabelaDespesas td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#tabelaDespesas th {
    background-color: #ff6f61;
    color: white;
}
/* Estilo da tabela de casais (inicialmente oculta) */
#tabelaCasais {
    display: none; /* Oculta a tabela inicialmente */
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

#tabelaCasais th, #tabelaCasais td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#tabelaCasais th {
    background-color: #ff6f61;
    color: white;
}
/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

/* Container principal */
.container {
    text-align: center;
    margin: 20px;
}

/* Banners Animados */
.banner-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 200px;
    margin-bottom: 20  px;
}

.banner {
    position: absolute;
    width: 100%;
    height: 100%;
  
    color: white;
    font-size: 24px;
    line-height: 200px;
    text-align: center;
    animation: slide 15s infinite;
}

.banner:nth-child(2) {

    animation-delay: 5s;
}

.banner:nth-child(3) {
  
    animation-delay: 10s;
}

@keyframes slide {
    0% {
        left: 100%;
    }
    20% {
        left: 0;
    }
    40% {
        left: 0;
    }
    60% {
        left: -100%;
    }
    80% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

/* Botões e Links */
.buttons-container {
    margin-bottom: 20px;
}

button, #linkFormulario {
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 5px;
}

/* Animações dos botões */
button:hover, #linkFormulario:hover {
    background-color: #ff4c3b;
    transform: scale(1.1);
}

/* Cursor em formato de coração */
#linkFormulario {
    cursor: url('coração.png'), auto;
}

/* Estilizando a tabela */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ff6f61;
    color: white;
}
.modal-content {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

#pixCodigo {
    width: 100%;
    height: 100px;
    margin:    10px 0;
    font-size: 14px;
    padding: 10px;
}
.modal-content {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    text-align: left;
}

#resultadoEntradas, #resultadoDespesas {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f8f8f8; /* Cor de fundo discreta */
    font-size: 12px; /* Tamanho pequeno para discrição */
    color: #777; /* Cor de texto suave */
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e7e7e7; /* Linha superior para destacar */
}

.footer-text {
    margin: 0;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 300px; /* Ajuste conforme necessário */
    max-width: 90%;
    border-radius: 8px; /* Borda arredondada para um visual mais moderno */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.qr-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.qr-container img {
    width: 150px;
    height: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    background-color: #f00404;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.button-container button:hover {
    background-color: #f00404;
}

.button-container button:focus {
    outline: none;
}

@media (max-width: 768px) {
    .modal-content {
        width: 90%;
        max-width: none;
    }
}
/* Estilo para a caixa de seleção */
select {
    width: 100%; /* Faz a caixa de seleção ocupar toda a largura disponível */
    padding: 8px; /* Adiciona preenchimento interno para melhorar o visual */
    margin: 10px 0; /* Espaçamento entre os elementos */
    border-radius: 5px; /* Bordas arredondadas para um visual mais moderno */
    border: 1px solid #ccc; /* Bordas suaves para o campo de seleção */
    box-sizing: border-box; /* Garante que o padding e a borda estejam dentro do width */
    overflow: hidden; /* Evita que o texto ultrapasse a caixa de seleção */
    text-overflow: ellipsis; /* Mostra "..." se o texto for longo demais */
}

/* Estilo para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 300px; /* Ajuste conforme necessário */
    max-width: 90%;
    border-radius: 8px;
}
/* Estilo para o login */
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 100px auto; /* Centraliza o login */
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-top: 10px;
    display: none;
}
/* Estilo para os corações */
@keyframes subir {
    0% {
        bottom: 0;
        opacity: 1;
        transform: scale(0.5);
    }
    100% {
        bottom: 100%;
        opacity: 0;
        transform: scale(1.5);
    }
}

.hearts {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: red;
    transform: rotate(-45deg);
    animation: subir 5s infinite;
    opacity: 0;
}

.hearts:before, .hearts:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

.hearts:before {
    top: -10px;
    left: 0;
}

.hearts:after {
    left: 10px;
    top: 0;
}

@keyframes estourar {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.explosao {
    position: fixed;
    bottom: 100%;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    animation: estourar 0.5s ease-out forwards;
}
